name: test

env:
  NODE_NO_WARNINGS: true
  NODE_OPTIONS: '--max-old-space-size=8192'
  CI: true

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

concurrency:
  group: 'test-${{ github.ref }}'
  cancel-in-progress: true

jobs:
  prettier-check:
    name: prettier
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Master
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Setup env
        uses: the-guild-org/shared-config/setup@main
        with:
          nodeVersion: 18

      - name: Prettier Check
        run: yarn prettier:check
  lint:
    name: lint
    uses: the-guild-org/shared-config/.github/workflows/lint.yml@main
    with:
      script: yarn ci:lint
    secrets:
      githubToken: ${{ secrets.GITHUB_TOKEN }}
  unit:
    name: unit
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Master
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7

      - name: Setup apt-get
        run: sudo apt-get update --fix-missing

      - name: add libvips for sharp
        run: sudo apt-get install libvips libvips-dev

      - name: install dependencies
        run: yarn install --force

      - name: Cache Jest
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4
        with:
          path: .cache/jest
          key: ${{ runner.os }}-jest-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-jest-

      - name: Test
        run: yarn test --ci
