name: website

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deployment:
    runs-on: ubuntu-latest
    if:
      github.event.pull_request.head.repo.full_name == github.repository || github.event_name ==
      'push'
    steps:
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0

      - uses: the-guild-org/shared-config/setup@main
        name: setup env
        with:
          nodeVersion: 20
          packageManager: yarn
      - uses: the-guild-org/shared-config/website-cf@main
        name: build and deploy website
        env:
          NEXT_BASE_PATH: ${{ github.ref == 'refs/heads/master' && '/graphql/stitching' || '' }}
          SITE_URL:
            ${{ github.ref == 'refs/heads/master' && 'https://the-guild.dev/graphql/stitching' || ''
            }}
        with:
          cloudflareApiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          cloudflareAccountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          projectName: schema-stitching
          prId: ${{ github.event.pull_request.number }}
          websiteDirectory: ./
          buildScript: cd website && yarn build
          artifactDir: website/out
